.all-record {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: var(--color-box1);
   height: calc(100vh - var(--nav-width));
;
}
.filter-bar {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: calc(var(--nav-width) * 3);
   padding: 0 30px;
   margin-top: 15px;
}

.table-filters {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
/*
.filter-bar {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding-left: calc(var(--nav-width) + 2rem);
   padding-top: calc(var(--nav-width) + 0.5rem);
   background-color: var(--color-box1);
   position: fixed;
   top: 0;
   left: 0;
   width: calc(100vw - var(--nav-width) - 2rem);
   height: 200px;
}
*/
.list-setting {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.current-data {
   cursor: pointer;
   font-size: 25px;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
.transaction-type {
   cursor: pointer;
   padding: 20px;
   background-color: var(--color-box1);
   border-radius: 3px;
   border: 1px solid var(--color-grey-border);
   flex-direction: column;
   justify-content: center;
   align-items: start;
   position: absolute;
   margin-top: 5px;
   height: 0;
   opacity: 0;
   transition: 0.2s ease-in-out;
   box-shadow: 0 2px 6px var(--color-shadow);
   pointer-events: none;
}
.transaction-type.open {
   z-index: 1;
   height: auto;
   opacity: 1;
   pointer-events: unset;

}
.transaction-type div {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   font-size: 18px;
   margin: 15px 0;
}
.transaction-type span {
   pointer-events: none;
}
.transaction-type svg {
   pointer-events: none;
   color: var(--color-2);
}
.transaction-type .hidden {
   color: transparent;
}
.list-type {
   cursor: pointer;
}

.transaction-list {
   display: flex;
   justify-content: center;
   align-items: start;
   box-sizing: border-box;
   height: calc(100vh - calc(var(--nav-width) * 3.5));
   overflow-y: auto;
   scrollbar-width: thin;
   padding: 0 30px;
}

.transaction-list.box {
   padding: 20px;
}
.transaction-list.box .table {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;
}
.transaction-list.box .table .title {
   display: none;
}
.transaction-list.box .table .element-wrapper {
   padding: 8px;
   border-radius: 3px;
   border: 1px solid var(--color-grey-border);

}
.transaction-list.box .table .element, .transaction-list.box .table .see-more-button {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   border: none;
}
.transaction-list.box .delete-button {
   position: absolute;
   top: 0;
   right: 0;
}

@media only screen and (max-width: 1100px) {
   .setting {
      width: 100%;
      padding-left: 0;
   }
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 700px) {

}
@media only screen and (max-width: 400px) {
}