.summary {
    padding: 40px;
    display: grid;
    align-items: center;
    text-align: center;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title svg {
    padding-right: 20px;
}
.tracker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tracker .group {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.tracker .item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;

}
.tracker .item h4 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 13px;
    width: 100%;
    text-align: left;
}
.tracker .summary-table {
    border-collapse: collapse;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.783);
    width: 100%;
}
.tracker .summary-table th,
.tracker .summary-table td {
    border-top: 1px solid rgba(175, 175, 175, 0.481);
    border-bottom: 1px solid rgba(175, 175, 175, 0.481);
    padding: 3px 25px 3px 25px;
}

.tracker.summary .table th {
    background-color: var(--color-font);
    color: white;
    text-align: center;
}
#amount {
    text-align: right;
}
.tracker .total {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    padding: 2px 25px 2px 25px;
}
.summary .list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary .table-warpper {
    min-width: 60vw;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summary .table-warpper .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 10px;
}
.summary .table-warpper .search-box.active {
    background-color: rgb(239, 230, 198);
}
.summary .table-warpper .search-box .close-button{
    color: transparent;
}
.summary .table-warpper .search-box.active .close-button{
    color: var(--color-font);
}
.summary .table-warpper .search-box input {
    border: none;
    background-color: transparent;
    max-width: 120px;
    font-size: 14px;
}

.summary .table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary .table th,
.summary .table td {
    padding: 5px 6px;
    text-align: center;
}

.summary .table th {
    background-color: var(--color-font);
    color: white;
}

.summary .table tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.summary .table tbody tr:hover {
    background-color: #e8f4f8;
}

.summary .element .input {
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    padding: 5px;
}
.summary .element .input:hover {
    color: blue;
}
.summary .element .input.edit {
    background-color: var(--color-background);
}
.summary .element .category {
    display: flex;
}
.summary .element .category .icons {
    display: flex;
    flex-direction: center;
    align-items: center;
    color: rgb(74, 74, 74);
    border-radius: 50%;
    padding: 6px;
}
.summary .element .delete-button {
    cursor: pointer;
    padding-right: 10px;
    background-color: transparent;
    border: none;
}
.summary .element .delete-button svg {
    background-color: transparent;
}
.summary .element .delete-button:hover {
    color: blue;
}
.summary .element .input-wrapper {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.summary #amount {
    width: 100px;
}


.filters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.filters .select {
    display: flex;
}
.filters select{
    background-color: var(--color-background);
    width: 120px;
    margin: 15px
}
.filters select option {
    background-color: var(--color-background);
}
.category-filter button {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-button-hover);
    border-radius: 15px;
    padding: 3PX;
    margin: 3px;
    font-size: 12px;
    padding-left: 7px;
}
.category-filter button:hover {
    background-color: var(--color-button-hover);
    color: var(--color-background);
}
.category-filter button:active {
    background-color: blue;
}
.category-filter button svg {
    background-color: transparent;
    padding: 2px;
}
