.box-content {
   display: block;
   height: 100%;
   margin: 5px 30px;
}
.box-content .select-wrapper {
   display: flex;
   justify-content: end;
}
.box-content .select-wrapper select {
   border: 1px solid var(--color-grey);
   border-radius: 2px;
   background-color: transparent;
   font-size: 12px;
   text-align: center;
   color: var(--color-grey);
   padding: 3px;
}
.box-content h4 {
   margin: 0;
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 13px;
   width: 100%;
   text-align: left;
}
.box-content .table-wrapper {
   position: relative;
}
.box-content .summary-table {
   border-collapse: collapse;
   font-size: 12px;
   width: 100%;
}
.box-content .summary-table th,
.box-content .summary-table td {
   border-top: 1px solid var(--color-grey-border);
   border-bottom: 1px solid var(--color-grey-border);
   padding: 3px;

}
.box-content #amount {
   padding-right: 10%;
   text-align: right;
}
.box-content .total {
   font-size: 14px;
   font-weight: 700;
   text-align: right;
   padding: 3px 5%;
   padding-right: 10%;

}
.box-content.chart {
   height: 100%;
}
.box-content .chart .pie-chart {
   max-width: 550px;
   margin: auto;
}
.summary .list {
   margin: 30px 0;
   padding: 10px 40px;
   background-color: var(--color-box1);
   border-radius: 3px;
   border: 1px solid var(--color-grey-border);
   box-sizing: border-box;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
   .summary .list {
      padding: 10px 20px;
   }
}
@media only screen and (max-width: 600px) {
   .summary .list {
      padding: 10px 10px;
   }
}