.back-button {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 80px;
    left: 40px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-font);
    border-radius: 50%;
    color: var(--cream);
    transition: 0.5s ease-in-out;
}
.back-button:hover {
    color: var(--color-2);
}

