.recent-list {
   width: 100%;
}

.recent-list .element {
   display: grid;
   grid-template-columns: 1fr 3fr 1fr 1fr;
   justify-content: center;
   align-items: center;
   margin: 8px;
   padding: 3px 0;
   border-radius: 5px;
   border: 1px solid var(--color-grey-border);
   background-color: transparent;
   position: relative;
   height: 100%;
}
.recent-list .element:hover {
   background-color: var(--color-background);
}
.recent-list .element .input {
   border: 1px solid transparent;
   cursor: pointer;
   font-size: 13px;
   font-weight: 500;
}
.recent-list .element .input:hover {
   color: var(--color-2);
}
.recent-list .element .input.edit {
   background-color: var(--color-background);
}
.recent-list .element .category .icon {
   display: flex;
   flex-direction: center;
   align-items: center;
}
.recent-list .amount-wrapper {
   display: flex;    
   flex-direction: row;
   justify-content: end;
   align-items: center;
}
.recent-list .amount-wrapper .euro {
   font-size: 14px;
}
.recent-list .amount-wrapper .amount {
   font-size: 15px;
   font-weight: 600;
}

.recent-list .element .delete-button {
   background-color: transparent;
   border: none;
}
.recent-list .element .delete-button svg {
   cursor: pointer;
}
.recent-list .element .delete-button svg:hover {
   color: var(--color-font-edit);
}
@media only screen and (max-width: 1300px) {

}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {
}