.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expense-form-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.948);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

}
.expense-form {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.366);

}
.form-title {
    font-weight: 700;
    font-size: 20px;
}
.form-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    min-width: 300px;
    padding: 5px;
}
.form-field input {
    width: 100%;
    padding: 3px;
}
.form-buttons {
    padding-top: 30px;
}
.summary {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
}
.summary h4 {
    text-align: center;
}
.arc .path{
    opacity: 0.8;
}
.arc:hover .path {
    transform: scale(1.04);
    opacity: 1;
    transition: transform 300ms ease 100ms;
    transition: opacity 300ms ease 100ms;
}
.arc:hover .text {
    font-size: 11px;
    font-weight: 800;
    transition: font 300ms ease 100ms;
}
.expense-element .input {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    text-align: center;
}

.expense-element .input:hover {
    background-color: red;
}
.expense-element .input.edit {
    background-color: var(--color-background);
}

#amount {
    width: 100px;
}

.expense-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expense-table th,
.expense-table td {
    padding: 12px 8px;
    text-align: center;
}

.expense-table th {
    background-color: var(--color-font);
    color: white;
}

.expense-table tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
}

.expense-table tbody tr:hover {
    background-color: #e8f4f8;
}