.dashboard {
    text-align: center;
    max-width: 1400px;
    margin: auto;
    padding: 40px;
    padding-bottom: 150px;
}
.dashboard .boxes {
    display: grid;
    grid-template-rows: 1fr;
}
.dashboard .boxes.two {
    grid-template-columns: 1fr 1fr;
}
.boxes.three {
    grid-template-columns: 1fr 1fr 1fr;
}
.dashboard .box {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px var(--color-shadow);
    background-color: var(--color-box1);
    display: grid;
    align-items: center;
    position: relative;
}
.dashboard .box .title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.dashboard .box .text {
    font-weight: 500;
    font-size: 13px;
}
.dashboard .box .link {
    text-decoration: none;
    color: var(--color-grey);
    font-size: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.dashboard .box .link:hover {
    color: var(--color-2);
}
h2 {
    text-align: center;
}
.arc .path{
    opacity: 0.8;
}
.arc:hover .path {
    transform: scale(1.04);
    opacity: 1;
    transition: transform 300ms ease 100ms;
    transition: opacity 300ms ease 100ms;
}
.arc:hover .text {
    font-size: 11px;
    font-weight: 800;
    transition: font 300ms ease 100ms;
}


@media only screen and (max-width: 1300px) {
    .boxes.two, .boxes.three {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 900px) {
    .dashboard {
        padding-left: 20px;
        padding-right: 20px;
    }    
    .dashboard .boxes.two, .boxes.three {
        grid-template-columns: 1fr;
    }

}
@media only screen and (max-width: 600px) {
    .dashboard {
        padding-left: 10px;
        padding-right: 10px;
    } 
}