.dashboard {
}
.dashboard .title {
   font-weight: 800;
   font-size: 20px;
   margin-top: 30px;
   margin-bottom: 5px;
}

.dashboard .box-content {
   display: block;
   max-height: 330px;
}
.dashboard .contents-wrapper {
   height: 100%;
}
.dashboard .contents {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.dashboard .boxes {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}
.dashboard .box {
   margin: 30px 0;
   padding: 10px 30px;
   background-color: var(--color-box1);
   border-radius: 3px;
   border: 1px solid var(--color-grey-border);
   box-sizing: border-box;
   display: grid;
   align-items: start;
   position: relative;
   overflow: hidden;
}
.dashboard .box .recent-transaction .text {
   width: 100%;
   display: flex;
   justify-content: space-between;
   font-weight: 500;
   font-size: 13px;
}
.dashboard .link {
   text-decoration: none;
   color: var(--color-grey);
   font-size: 10px;
   position: absolute;
   top: 20px;
   right: 20px;
}
.dashboard .box .link:hover {
   color: var(--color-2);
}
.dashboard .balance {
   font-size: 40px;
   font-weight: 500;
   color: var(--color-2);

}
.arc .path{
   opacity: 0.8;
}
.arc:hover .path {
   transform: scale(1.04);
   opacity: 1;
   transition: transform 300ms ease 100ms;
   transition: opacity 300ms ease 100ms;
}
.arc:hover .text {
   font-size: 11px;
   font-weight: 700;
   transition: font 300ms ease 100ms;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
   .dashboard .boxes {
      grid-template-columns: 1fr;
   }
}
@media only screen and (max-width: 600px) {

}