#line-chart {
    position: relative;

}
#chart {
    text-align: center;
}
.tooltip {
    padding: 4px;
    font-size: 11px;
    text-align: left;
}
.bar {
    cursor: pointer;
}
.bar:hover {
    fill : rgba(238, 238, 238, 0.443);
}