
.list {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.table-warpper {
   width: 100%;
   padding-bottom: 50px;
   overflow: hidden;
}

.filters {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
   padding: 5px 0;
}
.filters .filter {
   display: flex;
   justify-content: start;
   align-items: center;
   margin: 5px 10px;
}
.filters .filter .filter-title {
   font-size: 14px;
   margin-right: 10px;
   font-weight: 600;
}
.filters .filter .input {
   font-size: 13px;
   cursor: pointer;
   padding: 5px 0;
   width: 100%;
   text-align: center;
   background-color: transparent;
   display: flex;
   color: var(--color-grey);
   border-radius: 2px;
   border: 1px solid var(--color-grey);
}

.filters .date-selector {
   display: none;
}
.filters .date-selector.active {
   display: block;
}
.filters .date-filter-wrapper {
   background-color: var(--color-box1);
   border-radius: 3px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   box-shadow: 0 4px 8px var(--color-shadow);
   padding: 20px;
   z-index: 1;
}
.filters .background {
   width: 100vw;
   height: 100vh;
   background-color: var(--color-wrapper);
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   backdrop-filter: blur(10px);
   z-index: 1;
}
.filters .date-filter-wrapper .date-filter {
   position: relative;
   padding: 30px 0;
   min-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.date-filter .date-filter-buttons .option {
   border: none;
   background-color: transparent;
   font-size: 13px;
   color: var(--color-font);
   text-decoration: underline;
}
.date-filter .date-picker {
   padding: 20px;
   display: flex;
}
.date-filter .close-button {
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
}

.filters .search-box {
   display: flex;
   justify-content: start;
   align-items: center;
   border-radius: 2px;
   border: 1px solid var(--color-grey);
}
.filters .search-box .close-button {
   cursor: pointer;
   color: var(--color-font);
   opacity: 0;
}
.filters .search-box.active .close-button {
   opacity: 1;
}
.filters .search-box .search-input {
   border: none;
   background-color: transparent;
   font-size: 13px;
   color: var(--color-grey);
   width: 100%;
   padding: 5px 0;
}
.filters .search-box.active .search-input {
   color: var(--color-font-edit);
}
.filters .search-box svg {
   padding-left: 5px;
   padding-right: 5px;
}

.active-filter-list {
   width: 100%;
   display: flex;
   justify-content:start;
   align-items: center;
   padding-bottom: 15px;
}
.active-filter-list .filter-buttons {
   display: flex;
}
.active-filter-list .filter-button {
   cursor: pointer;
   background-color: transparent;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background-color: var(--color-grey-border);
   border-radius: 15px;
   border: none;
   padding: 5px 10px;
   margin: 3px;
   font-size: 12px;
   font-weight: 500;
}
.active-filter-list .delete-all-button {
   cursor: pointer;
   background-color: transparent;
   border: none;
   font-size: 11px;
   color: var(--color-grey);
   text-decoration: underline;
   padding-left: 15px;
}
.active-filter-list .filter-buttons .filter-button:hover {
   background-color: var(--color-button-hover);
}
.active-filter-list .filter-buttons .filter-button svg {
   background-color: transparent;
   padding: 2px;
   pointer-events: none;
}


.table {
   width: 100%;
   border-collapse: collapse;
   border: 1px solid var(--color-grey-border);
   font-size: 12px;
   position: relative;
}
.table th,
.table td {
   padding: 15px 0px;
   text-align: center;
}
.table th {
   padding: 15px 0;
   background-color: var(--color-background);
}
.table tbody {
   height: 100px;
}
.table tbody tr {
   border: 1px solid var(--color-grey-border);
}

/*
.table tbody tr:nth-child(odd) {
   background-color: #f7f7f7;
}*/

.table tbody tr:hover {
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.table .see-more-button {
   cursor: pointer;
   font-size: 11px;
   position: relative;
   overflow: hidden;
}
.table .sortable {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}
.table .sortable .text {
   margin-right: 5px;
}
.element {
   position: relative;
   height: 40px;
}
.element .input {
   border: 1px solid transparent;
   border-radius: 2px;
   cursor: pointer;
   background-color: transparent;
   text-align: center;
   font-size: 13px;
   width: 80%;
   color: var(--color-font);
}
.element .input#amount {
   max-width: 50px;
   text-align: end;
}
.element .input.plus {
   color: rgba(97, 135, 250, 0.901);
}
.element .input.minus {
   color: rgb(197, 13, 13);
}
.element .input:hover {
   color: var(--color-1);
}
.element .input.edit {
   background-color: var(--color-background);
   color: var(--color-font-edit);
   border: 1px solid var(--color-font-edit);
}
.element .category {
   display: flex;
   justify-content: center;
   align-items: center;
}
.element .category .icons {
   display: flex;
   flex-direction: center;
   align-items: center;
}
.element .delete-button {
   background-color: transparent;
   border: none;
}
.element .delete-button svg {
   cursor: pointer;
}
.element .delete-button svg:hover {
   color: var(--color-font-edit);
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
   .element .input {
      font-size: 11px;
   }
   .filters {
      grid-template-columns: 1fr 1fr;
   }
   .filters .filter .name {
      font-size: 11px;
      padding-right: 5px;
   }
   .element .category .icons {
      display: none;
   }
   .filters .filter .input {
      font-size: 12px;
   }
   .search-box .search-input {
      font-size: 12px;
   }
}
@media only screen and (max-width: 600px) {
   .element .category .icons {
      display: block;
   }
   .element .category .input {
      display: none;
   }
   .element .input {
      font-size: 10px;
   }
   .filters {
      grid-template-columns: 1fr;
   }
}