
.expense-form {
    width: 100%;
    text-align: center;
}
.expense-form .expense-form-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.948);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

}
.expense-form .form {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.366);

}
.expense-form .form-title {
    font-weight: 700;
    font-size: 20px;
}
.expense-form .form-field {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    min-width: 300px;
    padding: 5px;
}
.expense-form .form-field input {
    width: 100%;
    padding: 3px;
}

.standard-buttons .standard-button {
    margin-right: 30px;
    margin-left: 30px;
    transition: 0.2s ease-in-out;
    opacity: 0.8;
    color: var(--color-background);
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.standard-buttons .standard-button:hover {
    opacity: 1;
}
.standard-buttons .standard-button svg {
    border-radius: 50%;
    background-color: var(--color-1);
    transition: 0.5s ease-in-out;
}
.standard-buttons .standard-button:hover svg {
    background-color: var(--color-2);
}
.floating-buttons {
    position: fixed;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 100;
}
.floating-buttons .floating-button {
    margin: 30px;
    opacity: 0.3;
    transition: 0.2s ease-in;
    color: var(--color-grey);
    cursor: pointer;
}
.floating-buttons .floating-button:hover {
    opacity: 1;
    color: var(--color-1);
}
.floating-buttons .floating-button svg {
    border-radius: 50%;
    background-color: white;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
}