.navbar {
   /*backdrop-filter: blur(10px);*/
   transition: 0.1s ease-in-out;
   position: fixed;
   top: 0;
}
.navbar.hidden {
   display: none;
}
.menu {
   position: relative;
}
.menu-side {
   position: absolute;
   top: 0;
   display: flex;
   flex-direction: column;
   height: 100vh;
   width: var(--nav-width);
   background-color: var(--color-box1);
   box-shadow: 0 2px 10px var(--color-shadow);
}
.menu-side.open {
   width: var(--nav-full-width);
   box-shadow: 0 2px 10px var(--color-shadow);
}
.menu-side .menu-button {
   display: flex;
   justify-content: center;
   align-items: end;
   margin: 15px;
   cursor: pointer;
}
.menu-side.open .menu-button {
   justify-content: end;
}
.menu-side .menu-bar {
   transition: 0.5s ease-in-out;
   pointer-events: all;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}
.menu-side .user {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px auto;
}
.menu-side.open .user {
   justify-content: space-between;
}

.menu-side .user .user-info {
   display: flex;
}
.menu-side .user .user-detail {
   text-align: left;
   padding-left: 10px;
}
.menu-side .user .user-info p {
   font-size: 12px;
   margin: 2px;
}
.menu-side .logout-button {
   color: var(--color-font);
   margin-left: 15px;
}
.menu-side .links {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.menu-side .menu-bar .link {
   width: 60%;
   text-decoration: none;
   text-underline-offset: 8px;
   color: var(--color-font);
   font-size: 15px;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s ease-in-out;
   position: relative;
   padding: 10px 0;
   margin-bottom: 10px;
}
.menu-side.open .menu-bar .link {
   display: grid;
   grid-template-columns: 1fr 2fr;
}
.menu-side .menu-bar .link:hover {
   color: var(--color-2);
   text-decoration: underline 1px var(--color-2);
}
.menu-side .menu-bar .link.active {
   color: var(--color-2);
}
.menu-side .menu-bar .link svg {
   padding: 5px;
   border-radius: 50%;
}
.menu-side .menu-bar .link.active svg {
   background-color: var(--color-2);
   color: var(--color-box1);
}
.menu-side .menu-bar .link .text-hover {
   position: absolute;
   height: 100%;
   width: 100px;
   padding-left: var(--nav-width);
   border-radius: 7px;
   left: -200px;
   transition: 0.2s ease-in-out;
   z-index: -1;
}
.menu-side .menu-bar .link:hover .text-hover {
   left: -8px;
}
.menu-side .menu-bar .link .text-hover .text {
   font-size: 13px;
   font-weight: 400;
   color: var(--color-box1);
   background-color: var(--color-1);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   border-radius: 0 7px 7px 0;
   position: relative;
}
.menu-side .menu-bar .link .text-hover .text::before {
   content: "";
   position: absolute;
   right: 100%;
   width: 0;
   height: 100%;
   border-top: 6px solid transparent;
   border-left: 8px solid var(--color-1);
   border-bottom: 6px solid transparent;
}
.menu-side .menu-bar .hidden {
   display: none;
   opacity: 0;
}
.menu-side .menu-bar .user-button .cl-userButton-root {
   padding-right: 150px;
}
.menu-side .menu-bar .user-button .cl-userButton-root span{
   color: var(--color-font);
   font-size: 17px;
}
.menu-side .menu-bar .line {
   width: 50%;
   color: transparent;
   border-bottom: 1px solid var(--color-grey);
   margin: 20px auto;
}
.menu-side.open .menu-bar .line {
   width: 80%;
}

.menu-bottom {
   position: fixed;
   background-color: var(--color-box1);
   width: 100vw;
   height: var(--nav-width);
   bottom: 0;
   margin: 0 auto;
   display: none;
   box-shadow: 0px 0px 15px var(--color-shadow);
}
.menu-bottom .menu-bar { 
   height: 100%;
}
.menu-bottom .links {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 100%;
}
.menu-bottom .link {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 3px;
   text-decoration: 0px;
   color: var(--color-font);
}
.menu-bottom .link.active{
   color: var(--color-2);
}
.menu-bottom .link .text {
   font-size: 11px;
}

@media only screen and (max-width: 1100px) {
   .menu-side.closed {
      background-color: transparent;
      box-shadow: none;
      height: 0;
   }
   .menu-side.closed .menu-bar {
      display: none;
   }
   .menu-bottom {
      display: block;
   }
}
@media only screen and (max-width: 900px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}

/*
.navbar {
      top: auto;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      padding: 0 20px;
      height: var(--nav-width);
      width: 80vw;
      border-radius: 50px;
   }
   .menu {
      flex-direction: row;
      width: 100%;
      background-color: transparent;
   }
   .menu .menu-bar {
      flex-direction: row;
   }
   .menu .menu-button {
      display: none;
   }
   .menu .menu-bar .line {
      display: none;
   }
   .menu .text-hover {
      display: none;
   }
   .menu .links {
      flex-direction: row;
      height: 100%;
      margin: 0;
   }
   .menu .link {
      margin: 0 10px;
   }
*/