.navbar {
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
}
.navbar.hidden {
    display: none;
}
.navbar button {
    background-color: transparent;
    margin-right: 5vw;
}
.navbar button:hover {
    color: var(--color-2);
}

.menu {
    padding-left: 5vw;
    cursor: pointer;
}
.menu .menu-bar {
    position: fixed;
    left: -500px;
    top: 0px;
    opacity: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--color-background);
    transition: 0.5s ease-in-out;
    border-right: 1px solid var(--color-font);
    display: flex;
    flex-direction: column;
}
.menu .menu-bar.open {
    opacity: 1;
    left: 0px;
    z-index: 100;
}
.menu-bar .username {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.menu-bar .close-button {
    text-align: end;
    padding: 10px;
}
.menu .menu-bar .links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .menu-bar .link {
    width: 60%;
    text-decoration: none;
    text-underline-offset: 8px;
    color: var(--color-font);
    font-size: 19px;
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;

}
.menu .menu-bar .link:hover {
    color: var(--color-2);
}
.menu .menu-bar .link.active {
    color: var(--color-2);
    text-decoration: underline 2px var(--color-2);
}
.logout-button {
    padding-top: 20px;
}