.navbar {
   height: 100vh;
   position: fixed;
   top: 0;
   backdrop-filter: blur(10px);
   margin: auto;
}
.navbar.hidden {
   display: none;
}
.menu {
   cursor: pointer;
   display: flex;
   flex-direction: column;
   background-color: var(--color-background);
   height: 100%;
   box-shadow: 0 2px 10px var(--color-shadow);
   width: var(--nav-width);
}
.menu.open {
   width: var(--nav-full-width);
}
.menu .menu-button {
   display: flex;
   justify-content: center;
   align-items: end;
   margin: 15px;
}
.menu.open .menu-button {
   justify-content: end;
}
.menu .menu-bar {
   transition: 0.5s ease-in-out;
   pointer-events: all;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}
.menu .user {
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px auto;
}
.menu.open .user {
   justify-content: space-between;
}

.menu .user .user-info {
   display: flex;
}
.menu .user .user-detail {
   text-align: left;
   padding-left: 10px;
}
.menu .user .user-info p {
   font-size: 12px;
   margin: 2px;
}
.logout-button {
   color: var(--color-font);
}

.menu .links {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.menu .link {
   width: 60%;
   text-decoration: none;
   text-underline-offset: 8px;
   color: var(--color-font);
   font-size: 16px;
   font-weight: 800;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.2s ease-in-out;
   position: relative;
   padding: 10px 0;
   margin-bottom: 10px;
}
.menu.open .menu-bar .link {
   display: grid;
   grid-template-columns: 1fr 2fr;
}
.menu .menu-bar .link:hover {
   color: var(--color-2);
   text-decoration: underline 2px var(--color-2);
}
.menu .menu-bar .link.active {
   color: var(--color-2);
   /*text-decoration: underline 1px var(--color-2);*/
}
.menu .menu-bar .link svg {
   padding: 5px;
   border-radius: 50%;
}
.menu .menu-bar .link.active svg {
   background-color: var(--color-2);
   color: var(--color-background);
}
.menu .menu-bar .link .text-hover {
   position: absolute;
   height: 100%;
   width: 100px;
   padding-left: var(--nav-width);
   border-radius: 7px;
   z-index: -1;
   left: -200px;
   transition: 0.2s ease-in-out;
   font-size: 13px;
   font-weight: 400;
   color: var(--color-background);
}
.menu .menu-bar .link:hover .text-hover {
   left: -8px;
}
.menu-bar .link .text-hover .text {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   background-color: var(--color-1);
   border-radius: 0 7px 7px 0;
   position: relative;
}
.menu-bar .link .text-hover .text::before {
   content: "";
   position: absolute;
   right: 100%;
   width: 0;
   height: 100%;
   border-top: 6px solid transparent;
   border-left: 8px solid var(--color-1);
   border-bottom: 6px solid transparent;
}

/*
.menu .menu-bar .link .text-hover .text:before {
   content: "";
   position: absolute;
   right: 100%;
   width: 0;
   height: 0;
   border-top: 5px solid transparent;
   border-right: 9px solid var(--color-1);
   border-bottom: 5px solid transparent;
}
*/
.hidden {
   display: none;
   opacity: 0;
}
.user-button .cl-userButton-root {
   padding-right: 150px;
}
.user-button .cl-userButton-root span{
   color: var(--color-font);
   font-size: 17px;
}
.menu .menu-bar .line {
   width: 50%;
   color: transparent;
   border-bottom: 1px solid var(--color-grey);
   margin: 20px auto;
}
.menu.open .menu-bar .line {
   width: 80%;
}

@media only screen and (max-width: 1100px) {
   .navbar {
      top: auto;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      height: var(--nav-width);
      width: 80vw;
      transition: 0s ease-in-out;

   }
   .menu {
      flex-direction: row;
      width: 100%;
      background-color: transparent;
      border-radius: 50px;
   }
   .menu .menu-bar {
      flex-direction: row;
   }
   .menu .menu-button {
      display: none;
   }
   .menu .menu-bar .line {
      display: none;
   }
   .menu .text-hover {
      display: none;
   }
   .menu .links {
      flex-direction: row;
      height: 100%;
      width: 100%;
      margin: 0;
   }
   .menu .link {
      background-color: blue;
      margin: 0;
   }



}
@media only screen and (max-width: 900px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
