.toggle-switch {
   /*position: fixed;
   top: 10px;
   right: 1vw;
   transform: translate(-50%, -50%);*/
   margin: 20px auto;
}
.toggle {
   height: 25px;
   width: 54px;
   background: var(--color-font);
   border-radius: 40px;
   padding: 2px;
   margin: auto;
   cursor: pointer;
   border: 1px solid var(--color-font);
}
.toggle-minimal {
   height: 25px;
   width: 25px;
   border-radius: 40px;
   padding: 2px;
   margin: auto;
   cursor: pointer;
   border: 1px solid var(--color-font);
   background-color: var(--color-font);
   color: var(--color-background);
}

.toggle::before {
   content: "";
   display: block;
   height: 25px;
   width: 25px;
   border-radius: 40px;
   background: var(--color-background);
   position: absolute;
   z-index: 2;
   transform: translate(0);
   transition: transform 0.3s ease;;
}

.toggle.dark-mode::before {
   transform: translateX(29px);
}

.toggle input, .toggle-minimal input {
   display: none;
}

.toggle .icons{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   margin: 0 5px;
}
.toggle-minimal .icons {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.toggle .icons svg {
   color: var(--color-background);
   z-index: 0;
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
