
.transaction-form {
   position: fixed;
   top: 0;
   left: 0;
   width: calc(100% - var(--nav-width));
   padding-left: calc(var(--nav-width) + 0.5rem);
   background-color: var(--color-box1);
   border-bottom: 1px solid var(--color-grey-border);
   min-height: 60px;
   z-index: -1;
}

.add-button {
   display: block;
   border: 1px solid var(--color-grey-border);
   border-radius: 2px;
   background-color: var(--color-1);
   margin: 10px 2vw;
   cursor: pointer;
   position:relative;
   overflow:hidden;
   font-size: 11px;
   font-weight: 600;
   padding: 10px 30px;
}

.add-button:before {
   position: absolute;
   height: 0;
   width: 100%;
   background-color : var(--color-1);
   left: 0;
   bottom: 0;
   transition: all .2s ease-in-out;
   font-size: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
}
.add-button.income:before {
   content: "INCOME";
}
.add-button.expense:before {
   content: "EXPENSE";
}
.add-button:hover:before {
   height: 100%;
   opacity: 1;
}
.add-button:active {
   top: 2px;
   transition: all .2s;
}

.standard-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
}
.floating-buttons {
   position: fixed;
   top: 92%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
}

.transaction-form .transaction-form-wrapper {
   width: 100%;
   height: 100%;
   background-color: var(--color-wrapper);
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   backdrop-filter: blur(10px);
}
.transaction-form .form {
   background-color: var(--color-background);
   border-radius: 5px;
   padding: 30px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   box-shadow: 0 4px 8px var(--color-shadow);
}
.transaction-form .form-title {
   font-weight: 700;
   font-size: 20px;
}
.transaction-form .form-field {
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   padding: 5px;
}
.transaction-form .form-field label {
   font-size: 14px;
   font-weight: 500;
}
.transaction-form .form-field .input {
   width: 100%;
   padding: 5px;
   background-color: var(--color-box1);
   color: var(--color-font);
   border: 1px solid var(--color-grey);
   border-radius: 2px;

}
@media only screen and (max-width: 1100px) {
   .transaction-form  {
      width: 100%;
      padding-left: 0;
   }
}
@media only screen and (max-width: 900px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}