
.transaction-form {
   position: fixed;
   top: 0;
   left: 0;
   width: calc(100vw - var(--nav-width));
   padding-left: calc(var(--nav-width) + 0.5rem);
   background-color: var(--color-box1);
   border-bottom: 1px solid var(--color-grey-border);
   height: var(--nav-width);
   display: flex;
   justify-content: center;
   align-items: center;
}
.transaction-form.open {
   z-index: 100;
}
.transaction-form.menu-active {
   width: calc(100% - var(--nav-full-width));
   padding-left: calc(var(--nav-full-width) + 0.5rem);
}
.transaction-form .transaction-buttons {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.transaction-form .background {
   position: absolute;
   width: 100vw;
   height: 100vh;
   background-color: var(--color-wrapper);
   top: 0;
   left: 0;
   backdrop-filter: blur(10px);
}
.transaction-form .transaction-form-wrapper {
   background-color: var(--color-box1);
   border-radius: 3px;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   box-shadow: 0 4px 8px var(--color-shadow);
   padding: 20px;
}
.transaction-form .form {
   position: relative;
   padding: 30px 0;
   min-width: 500px;

}
.transaction-form .form-title {
   font-weight: 600;
   font-size: 23px;
   margin: 20px 0;
}
.transaction-form .form-field {
   display: grid;
   grid-template-columns: 1fr 2fr;
   align-items: center;
   gap: 0 20px;
   padding: 5px;
}
.transaction-form .form-field label {
   font-size: 14px;
   font-weight: 600;
   text-align: end;
}
.transaction-form .form-field .input {
   padding: 5px;
   background-color: var(--color-box1);
   color: var(--color-font);
   border: 1px solid var(--color-grey);
   border-radius: 2px;
   width: 80%;
   display: flex;
}

.transaction-form .form-field select option {
   background-color: red;
}

.transaction-form .close-button {
   position: absolute;
   top: 0;
   right: 0;
   cursor: pointer;
}

@media only screen and (max-width: 1100px) {
   .transaction-form, .transaction-form.menu-active {
      width: 100vw;
      padding-left: 0;
   }
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 700px) {
   .transaction-form .transaction-form-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .transaction-form .form {
      min-width: 90%;
   }
}
@media only screen and (max-width: 400px) {
}