@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: "Inter", "Helvetica", sans-serif;

    --color-font: #313131;
    --color-grey: #a0a0a0;
    --color-grey-light: #f3f3f3;
    --color-background: #f9f9f9;
    --color-button-hover: rgb(29, 159, 179);
    --color-1: rgb(147, 197, 203);
    --color-2: rgb(20, 160, 182);
    --color-3: rgb(226, 236, 238);

}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App {
    color: var(--color-font);
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-background);
}
.button {
    border-radius: 10px;
    border: 2px solid var(--color-font);
    padding: 0.6em 1.2em;
    margin: 0.5em;
    font-size: 0.9em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-background);
    color: var(--color-font);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.button:hover {
    background-color: var(--color-button-hover);
    color: var(--color-background);
}


.sign-in-container {
    text-align: center;
}
input {
    border-radius: 5px;
    border: 1px solid rgb(205, 205, 205);
    padding: 3px;
}
select {
    border: none;
    border-radius: 5px;
    padding: 5px;
}
input:focus{
    outline: none;
}

