@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   font-family: "Helvetica", "Quicksand", "Inter", sans-serif;

   --color-font: #313131;
   --color-font-edit: rgb(0, 120, 138);
   --color-grey: #909090;
   --color-grey-border: rgba(225, 225, 225, 0.734);
   --color-grey-light: #f3f3f3;
   --color-background: #f9f9f9;
   --color-button-hover: rgb(131, 228, 237);
   --color-shadow: rgba(36, 36, 36, 0.261);
   --color-wrapper: rgba(255, 255, 255, 0.311);
   --color-box1: rgb(255, 255, 255);
   --color-box2: rgba(255, 255, 255, 0.936);
   --color-1: rgb(115, 203, 211);
   --color-2: rgb(2, 163, 188);
   --color-3: rgb(226, 236, 238);
   --nav-width: 70px;
   --nav-full-width: 290px;
   --font-main: "Helvetica", "Quicksand", "Inter", sans-serif;
}
html, body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   overflow-y: hidden;
   scroll-behavior: smooth;
   scrollbar-color: var(--color-1) var(--color-background);
}

.App {
   color: var(--color-font);
   width: 100%;
   min-height: 100vh;
   background: var(--color-background);
   background-blend-mode: screen;
   background-attachment: fixed;
   position: relative;
}

/*
   background:
      linear-gradient(var(--color-background), transparent),
      linear-gradient(to top left, var(--color-bg-1), transparent),
      linear-gradient(to top right, var(--color-bg-2), transparent);
*/
.App.dark-mode {
   --color-background: #13151C;
   --color-font: #f9f9f9;
   --color-box1: #1C1F29;
   --color-box2: #222222;
   --color-shadow: rgba(0, 0, 0, 0.287);
   --color-wrapper: rgba(48, 48, 48, 0.316);
   --color-grey-border: #22242a;
   transition: 0.2s ease-in-out;

}
.pages {
   padding: 0;
}
.pages.logged-in {
   margin-left: calc(var(--nav-width));
   margin-top: calc(var(--nav-width) - 0.55rem);
   overflow-y: auto;
   scrollbar-width: thin;
   max-height: calc(100vh - var(--nav-width) + 0.35rem);
}
.pages.menu-active {
   margin-left: calc(var(--nav-full-width));
}
.pages .page-title {
   font-size: 40px;
}
.pages .summary, .pages .dashboard {
   text-align: center;
   max-width: 1400px;
   margin: auto;
   padding: 0px 30px 120px 30px;
}
/*
.button {
   text-align: center;
   display: inline-block;
   padding: 13px 35px;
   border: 1px solid var(--color-font);
   border-radius: 7px;
   cursor: pointer;
   letter-spacing: 2px;
   position:relative;
   overflow:hidden;
   margin: 10px 20px;
   font-size: 0.9em;
   font-weight: 500;
   box-shadow: 0 7px 0px var(--color-2);
   background-color: white;
}

.button:before {
   content: "";
   position: absolute;
   height: 0;
   width: 100%;
   background-color : var(--color-button-hover);
   left: 0;
   bottom: 0;
   transition: all .3s;
   opacity: 0.3;
}

.button:hover:before {
   height: 100%;
}
.button:active {
   top: 3px;
   box-shadow: 0 2px 0px var(--color-2);
   transition: all .2s;
}
*/


.button {
   text-align: center;
   padding: 13px 35px;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   letter-spacing: 1px;
   margin: 10px;
   font-size: 13px;
   font-weight: 700;
   background-color: var(--color-2);
   color: var(--color-background);
   transition: 0.2s ease-in-out;
}

.button:hover {
   background-color: var(--color-1);

}
.sign-in-container {
   text-align: center;
}

/*
input {
   border-radius: 2px;
   border: 1px solid var(--color-grey);
   padding: 5px;
}
select {
   border: none;
   border-radius: 5px;
   padding: 5px;
}
*/

.loading-screen-wrapper {
   width: 100vw;
   height: calc(100vh - var(--nav-width) + 0.35rem);
   margin-left: calc(var(--nav-width) / 2);
   position: absolute;
   top: 0;
   left: 0;
}

input:focus{
   outline: none;
}

.swiper {
   margin-left: auto;
   margin-right: auto;
   position: relative;
   overflow: visible;
   list-style: none;
   padding: 0;
   /* Fix of Webkit flickering */
   display: block;
}
/*
.swiper-vertical > .swiper-wrapper {
   flex-direction: column;
}
*/
.swiper-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   transition-property: transform;
   transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
   box-sizing: content-box;

   margin-bottom: 30px;

}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
   transform: translate3d(0px, 0, 0);
}
.swiper-horizontal {
   touch-action: pan-y;
}
.swiper-vertical {
   touch-action: pan-x;
}
.swiper-slide {
   flex-shrink: 0;
   width: 100%;
   position: relative;
   transition-property: transform;
   display: block;
   /* height: 100%; */

   border-radius: 3px;
   border: 1px solid var(--color-grey-border);
   background-color: var(--color-box1);
   height: auto;
   box-sizing: border-box;
}
.swiper-slide-invisible-blank {
   visibility: hidden;
}


.swiper-scrollbar {
   border-radius: var(--swiper-scrollbar-border-radius, 10px);
   position: relative;
   touch-action: none;
   background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));

   .swiper-scrollbar-disabled > &,
   &.swiper-scrollbar-disabled {
      display: none !important;
   }
   .swiper-horizontal > &,
   &.swiper-scrollbar-horizontal {
      position: absolute;
      left: var(--swiper-scrollbar-sides-offset, 1%);
      bottom: var(--swiper-scrollbar-bottom, 4px);
      top: var(--swiper-scrollbar-top, auto);
      height: var(--swiper-scrollbar-size, 4px);
      width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
   }
}
.swiper-scrollbar-drag {
   height: 100%;
   width: 100%;
   position: relative;
   background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
   border-radius: var(--swiper-scrollbar-border-radius, 10px);
   left: 0;
   top: 0;
}
.swiper-scrollbar-cursor-drag {
   cursor: move;
}
.swiper-scrollbar-lock {
   display: none;
}
.swiper-scrollbar:hover {
   cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
   position: absolute;

   width: 15px;
   height: 15px;
   background-color: var(--color-grey-border);
   border-radius: 50%;
   padding: 5px;

   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--swiper-navigation-color, var(--swiper-theme-color));
   &.swiper-button-disabled {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
   }
   &.swiper-button-hidden {
      opacity: 0;
      cursor: auto;
      pointer-events: none;
   }
   .swiper-navigation-disabled & {
      display: none !important;
   }
   svg {
      width: 80%;
      height: 80%;
      object-fit: contain;
      transform-origin: center;
      fill: currentColor;
      pointer-events: none;

   }
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
}
.swiper-button-lock {
display: none;
}

.swiper-button-prev,
.swiper-button-next {
   top: var(--swiper-navigation-top-offset, 50%);
   margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
}
.swiper-button-prev {
   left: var(--swiper-navigation-sides-offset, 4px);
   right: auto;
   .swiper-navigation-icon {
      transform: rotate(180deg);
   }
}
.swiper-button-next {
   right: var(--swiper-navigation-sides-offset, 4px);
   left: auto;
}



@media only screen and (max-width: 1100px) {
   .pages.logged-in {
      margin-left: 0;
   }
   .pages.menu-active {
      margin-left: 0;
   }
   .loading-screen-wrapper {
      margin: 0;
   }
}
@media only screen and (max-width: 900px) {
   .pages .summary, .pages .dashboard {
      margin: auto;
      padding: 0px 15px 120px 15px;
   }
}
@media only screen and (max-width: 600px) {
   .pages .summary, .pages .dashboard {
      margin: auto;
      padding: 0px 10px 120px 10px;
   }
}
@media only screen and (min-width: 400px) {
}