.dashboard-summary {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
}
.dashboard-summary .item {
    
}
.dashboard-summary .balance .positive {
    color: green;
}
.dashboard-summary .balance .negative {
    color: red;
}
