.dashboard-summary {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.dashboard-summary .total {
   display: flex;
   justify-content: space-around;
   width: 100%;
}
.dashboard-summary .total .items {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 18px;
}
.dashboard-summary .total .items svg {
   color: var(--color-1);
   margin-right: 10px;
}
.dashboard-summary .total .items .number{
   font-weight: 600;
}

.summary-month {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.summary-month .text {
   font-weight: 600;
}
.summary-month .total {
   color: var(--color-2);
   font-size: 35px;
   font-weight: 600;
   margin: 0px;
}
.summary-month .days {
   font-size: 13px;
   font-weight: 500;
   margin: 5px 0;
}
.summary-month .bar-container {
   width: 100%;
   display: flex;
   position: relative;
   align-items: center;
   margin: 20px 0;
   background-color: var(--color-grey-light);
   color: #313131;
   overflow: hidden;
   min-height: 28px;
   border-radius: 2px;
}
.summary-month .bar-container .bar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8px 0;
}
.summary-month .bar-container .income-bar {
   background-color: transparent;
}
.summary-month .bar-container .expense-bar {
   background-color: var(--color-1);
}
.summary-month .bar-container .percent {
   font-size: 15px;
   font-weight: 400;
   margin: auto;
}
.summary-month .bar-container .expense-amount {
   font-size: 10px;
}
.summary-month .numbers {
   font-size: 16px;
   font-weight: 600;
   display: flex;
   justify-content: space-around;
   width: 100%;
}
.summary-month .numbers div {
   border-left: 4px solid var(--color-2);
   padding-left: 10px;
   
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {

}